---
title: blog
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Kevin Zyskowski">
    <title>Kevin Zyskowski</title>
    <link rel="stylesheet" href="{{ '/assets/css/blog.css' | relative_url }}">
</head>

<body>
    <div id='landing'>
        {% include nav.html %}
        <div class="wrap">
            <div id="blog">
                <img src="{{ '/assets/img/profile.jpg' | relative_url }}" style="width: 50%;" id="profile-picture" />
                <h1>Kevin Zyskowski</h1>
                <div id="posts" class="section">
                    {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
                    {% for year_group in posts_by_year %}
                    <h2 class="year" id="y{{ year_group.name }}">{{ year_group.name }}</h2>

                    {% for post in year_group.items %}
                    <div class="post-row">
                        <p class="post-title">
                            <a href="{{ post.url }}">
                                {% katexmm %}
                                {{ post.title }}
                                {% endkatexmm %}
                            </a>
                        </p>
                        <p class="post-date">
                            {{ post.date | date: "%B %d" }}
                        </p>
                    </div>
                    {% if post.subtitle %}
                    <p class="post-subtitle">
                        {% katexmm %}
                        {{ post.subtitle }}
                        {% endkatexmm %}
                    </p>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>